.jedi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }
  
  .jedi-header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #00ccff;
  }
  
  .jedi-header p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ffdd57;
  }
  
  .jedi-graphic {
    margin-top: 20px;
  }
  
  .lightsaber-image {
    width: 35%;
    height: auto;
    animation: swing 6s 1;
  }
  
  /* Adding a simple animation */
  @keyframes swing {
    0% { transform: rotate(0deg); }
/*    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }*/
    100% { transform: rotate(360deg); } 
  }